{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}"></link>
    <!-- <script scr="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
</head>

<body>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'tasks_list' %}">Lista de tarefas</a>
    <a href="{% url 'task_new' %}">Nova tarefa</a>
    {% block content %}
    {% endblock %}    
</body>

</html>