{% extends 'tasks/base.html' %}

{% block content %}
<div class="container">
    <div style=" margin-top: 20px; margin-bottom: 20px;">
        <h2>Título: {{ task.title }}</h2>
        <ul>
            <li>Autor: {{ task.author }}</li>
            <li>Assignee: {{ task.assignee }}</li>
            <li>Tipo: {{ task.type }}</li>
            <li>Status: {{ task.status }}</li>
            <li>Time gasto: {{ task.time_spent }}</li>
            <li>Descrição: {{ task.description|linebreaksbr }}</li>
        </ul>
    </div>

    <a href="{% url 'task_edit' pk=task.pk %}"><button type="button" class="btn btn-warning">Editar</button></a>
</div>
{% endblock %}